/****** general styles ******/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: teal;
  text-align: center;
  font-family: 'Lato' , sans-serif;
}

/****** layout styles ******/
header {
  width: 75vw;
  margin: 25px auto;
  background-color: teal
}
main {
  width: 75vw;
  margin: 25px auto;
  background-color: teal
  display: flow-root;
}
.col {
  width: 50%;
  background-color; red;
  float: left;
}

/****** type styles ******/
h1 {
  font-size: 4rem;
  text-align: left;
  font-family: 'SpaceMono', monospace;
  font-weight: 700;
  text-transform: uppercase;
}
